.animeAdmin {
  color: var(--text-white);
  margin: 50px auto;
  width: 70%;

  .pageTitle {
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 2rem;
    text-align: center;
  }

  table {
    border: 1px solid #3f3f3f;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border: 1px solid #3f3f3f;
      padding: 0.35em;
    }

    th,
    td {
      padding: 0.625em;
      text-align: center;
    }

    th {
      font-size: 0.85em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    td:last-child {
      border-bottom: 3px solid #ddd;
    }
  }
}

@media screen and (max-width: 1000px) {
  // .animeAdmin {
  //   width: 100%;
  //   padding: 25px;

  //   table {
  //     width: 80%;

  //   }
  // }
}
