.adminPage {
  //   position: relative;

  .btn {
    display: flex;
    justify-content: center;

    .changeContent {
      margin-top: 100px;
      height: 40px;
      width: 25%;
      background-color: #f06960;
      color: var(--text-white);
      border: none;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

@media (max-width: 800px) {
  .adminPage {
    .btn {
      .changeContent {
        margin-top: 80px;
        width: 50%;
      }
    }
  }
}
